@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 
}
/* html {
  scroll-behavior: smooth;
} */
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}